<div>
    <h1 class="text-2xl"><%= @user.username %></h1>

    <p>Sipping wine in <%= @user.location %></p>


    <img src=<%=@user.avatar.url %> alt=<%= @user.username %> class=" w-80 rounded-full">
</div>