<div>
    <h1 class="text-xl my-4">Modify Your Wine</h1>

    <%= render 'form', post: @post %>

    <div class="flex justify-around">
        <%= link_to 'View', @post %> |
        <%= link_to 'Back', posts_path %>
    </div>
</div>